namespaceOverride: "observability"

# system nodepool에 배포
tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Exists"
nodeSelector:
  karpenter.sh/nodepool: system

manager:
  collectorImage:
    repository: otel/opentelemetry-collector-k8s

admissionWebhooks:
  certManager:
    enabled: false
  autoGenerateCert:
    enabled: true
