fullnameOverride: grafana

adminPassword: "1234"

serviceAccount:
  create: false
  name: goormdotcom-grafana

env:
  GF_SERVER_ROOT_URL: "%(protocol)s://%(domain)s/grafana"
  GF_SERVER_SERVE_FROM_SUB_PATH: "true"

persistence:
  enabled: false

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        uid: loki-datasource
        access: proxy
        url: "http://loki:3100"
        isDefault: false
        jsonData:
          httpHeaderName1: "X-Scope-OrgID"
        secureJsonData:
          httpHeaderValue1: "goormdotcom"

      - name: Tempo
        type: tempo
        uid: tempo-datasource
        access: proxy
        url: "http://tempo:3100"
        isDefault: false

      - name: Mimir
        type: prometheus
        uid: mimir-datasource
        access: proxy
        url: "http://mimir:9009/prometheus"
        isDefault: false
        jsonData:
          httpHeaderName1: "X-Scope-OrgID"
        secureJsonData:
          httpHeaderValue1: "goormdotcom"

      - name: CloudWatch
        type: cloudwatch
        uid: cloudwatch-datasource
        access: proxy
        isDefault: false
        jsonData:
          defaultRegion: ap-northeast-2
          authType: default # AWS SDK Default(=IRSA 사용)
        secureJsonData: {}
